body {
	width: 1000px;
	font: 1em/1.2 'Domine', serif;
	color: #afafaf;
	background: url('../images/bg_trigun.jpg') fixed no-repeat;
	margin: 0 auto;
}
body> div {
	margin: 0;
	padding: 15px;
	background: rgba(0,0,0,0.75);
	overflow: hidden;
}


/*--------------------------Nav elements----------------------------*/

nav ul{
	width: 450px;
	margin:0 450px 0;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}

nav li{
	width: 148px;
	background: url(../images/button_gradient.jpg) repeat-x;
	border: 1px solid #f00;
	border-radius: 10px;
	float: left;
}
nav a {
	text-decoration: none;
	display: block;
	height: 25px;
	line-height: 25px;
	text-align: center;
}

a:hover {
	border: 2px solid #fff;
	border-radius: 10px;

	
}
/*------------------------Main content----------------------------*/
#plot {
	-moz-column-count: 3;
	-webkit-column-count: 3;
}
header img {
	margin: 0 150px;
}
h1, h2, h3 {
	font-family: 'Marko One', serif;
	border-bottom: 1px solid #f00;
}

strong {
	font-family: 'Della Respira', serif;
	color: #e68243;
}

#characters li {
	float: left;
	text-align: center;
	font-size: .9em;
	overflow: hidden;
	text-decoration: none;
	list-style-type: none;
	margin: 20px;
}

#characters a {
	border: 10px solid #fff;
	border-radius: 10px;
	display: block;
}

/*-----------------------Footer---------------------------------*/
footer {
	clear: left;
	background: #000;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: .75em;
	border: 1px solid #000;
}

/*-------------------- Gallery page-----------------------------*/
article {
	height: 400px;
	margin: 20% 0;
	padding: 5% 0;
	border-bottom: 1px solid #f00;
	overflow: hidden;
}

article:nth-child(odd) img {
	display: block;
	float: left;
	padding-right: 10px;
}
article:nth-child(even) img {
	display: block;
	float: right;
	padding-left: 10px;
}
article footer {
	clear: both;
	background: none;
	text-align: right;
	border: none;
	padding: 20px 0;


}

